* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body, html {
    height: 100%;
    background-color: rgb(206, 204, 206);
  }
  
header{
    background-color: rgba(113, 112, 112, 0.557);
    width: 100%;
    height: 100px;
}  
header .heading{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    display: block;
    text-align: center;
    padding: 20px;
}

header ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header ul li{
    display: inline-block;
   color: aliceblue;
  list-style: none;
  float: left;
  padding: 0 16px;
}

header ul li h2{
    font-size: 16px;
    text-align: center;
}

main .main-content{
  border: 2px;
}

main .main-content p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

main .main-heading h1{
  font-style: italic;
  font-size: 40px;
  text-align: center;
  padding: 30px;
  color: blue;
}

main .main-pics .boxes{
  /* border: solid 2px; */
  margin: 15px;
  height: 200px;
  width: calc(100% - 30px);
}

main .main-pics .boxes img{
  width: 100%;
  height: 200px ;
}

footer{
  background-color: rgb(99, 99, 226);
}

footer .footer-conclude{
  color: rgb(255, 255, 255);
  margin: 40px;
  padding: 20px 20px;
 
}

footer .footer-conclude .resource ul{
  margin: 10px;
  font-style: normal;
}

@media only screen and (min-width : 1000px ){

  main .main-heading h1{
    
    color: rgb(0, 0, 0);
  }

  header{rgb(8, 8, 9)
    text-align: center;
  }

  header .heading{
    float: left;
  }

  header ul{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li{
    display: flex;
   color: aliceblue;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}


  main .main-heading h1{
    font-family: cursive;
  }
  main .main-pics {
    /* border: solid 2px; */
    
   display: flex;
   flex-wrap: wrap;
    flex: 2;
    
  }

  main .main-pics .boxes{
     width: 30%;
     }


  footer .footer-conclude{
    display: flex;
    flex-wrap: wrap;
  }

  footer .footer-conclude .resource{
    width: 50%;
  }
  
}

@media only screen and (min-width : 700px ) and (max-width :999px) {


  main .main-heading h1{
    font-family: monospace;
    color: aqua;
  }
  main .main-pics {
    /* border: solid 2px; */
    
   display: flex;
   flex-wrap: wrap;
    flex: 2;
    
  }

  main .main-pics .boxes{
     width: 45%;
     }


  footer .footer-conclude{
    display: flex;
    flex-wrap: wrap;
  }

  footer .footer-conclude .resource{
    width: 50%;
  }
}
